* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {

    --rosso: red;
    --verde: rgb(12, 136, 12);
    --bianco: white;
    --arancione: orange;

}
body{
    font-family: Helvetica, Arial, sans-serif;
}

.container-padre {
    width: 100%;
    background-color: var(--arancione);
    position: fixed;
    height: 60px;
    z-index: 1;

}

.container-figlio {
    width: 80%;
    margin: auto;
    color: var(--bianco);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 10px;
}
.cliccabile{
    cursor: pointer;
}
.immagine {
    width: 150px;
}

main {
    width: 80%;
    margin: 0px auto;
    min-width: 800px;
    padding-top: 100px;
    /* max-width: 1170px; */
}

.flex {
    display: flex;
    justify-content: space-between;
}

.bg-color {
    background-color: orange;
}
.row-flex {
    display: flex;
    margin-bottom: 80px;
}

.col {
    width: calc(100% /3);
    position: relative;
    
}
.classe{
    cursor: pointer;
    position: relative;
}

.col img {
    width: 100%;

}

.margin {
    margin: 0px 30px;
}

.etichetta-rossa {
    position: absolute;
    bottom: 50px;
    left: 0;
    background-color: var(--rosso);
    width: 50px;
    height: 25px;
    padding-top: 3px;
    padding-left: 8px;
    color: var(--bianco);
    display: block;
}

.etichetta-verde {
    position: absolute;
    bottom: 50px;
    left: 55px;
    background-color: var(--verde);
    width: 120px;
    height: 25px;
    padding-top: 3px;
    padding-left: 0px;
    color: var(--bianco);
    display: block;
    text-align: center;
}

.colore-prezzo {
    color: var(--rosso);
}

.cuoricino {
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: var(--bianco);
    width: 50px;
    color: var(--black);
    text-align: center;
    font-size: 40px;
}

footer {
    min-width: 800px;
    display: flex;
    width: 100%;
    height: 200px;
    background-color: black;
    color: var(--bianco);
}

.flex-space {
    display: flex;
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;

}

.flex-space-2 {
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;

}

i {
    background-color: var(--black);
    color: var(--bianco);
    padding-left: 8px;

}

.acceso:hover .cuoricino {
    color: var(--rosso);
}

.classe:hover .dopo {
    display: inline-block;
   
}
.classe:hover .prima{
    display: none;
}
.dopo {
    display: none;
}
h3:hover{
    cursor: pointer;
    text-decoration: underline;
}
li{
    padding: 10px;
}
.sottolinea:hover{
    text-decoration: underline;
}